/* Century Gothic font */
@font-face {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: normal;
  src: local("Century Gothic"), url("../fonts/centurygothic.woff2") format("woff2"), url("../fonts/centurygothic.woff") format("woff"), url("../fonts/centurygothic.ttf") format("ttf");
}
@font-face {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: bold;
  src: local("Century Gothic"), url("../fonts/centurygothic_bold.woff2") format("woff2"), url("../fonts/CenturyGothic-Bold.woff") format("woff"), url("../fonts/centurygothic_bold.ttf") format("ttf");
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
em,
img,
strong,
sub,
b,
ul,
li,
table,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: #000;
  font-size: 14px;
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 400;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

._container {
  max-width: 1180px;
  margin: 0 auto;
}
@media (max-width: 1192px) {
  ._container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

h1 {
  font-weight: 700;
  font-size: 68px;
  line-height: 80px;
}

h2 {
  color: #243B55;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}
@media (max-height: 479.98px) {
  h2 {
    font-size: 32px;
    line-height: 45px;
  }
}

h3 {
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
}

.header {
  position: relative;
  display: flex;
  width: 100%;
  padding-bottom: 1000px;
}
@media (max-width: 767.98px) {
  .header {
    padding-bottom: 1180px;
  }
}
@media (max-width: 479.98px) {
  .header {
    padding-bottom: 1240px;
  }
}
@media (max-width: 345px) {
  .header {
    padding-bottom: 1370px;
  }
}
.header h1,
.header h2,
.header h3 {
  color: #fff;
}
.header__background {
  position: absolute;
  width: 100%;
  z-index: 2;
  background: linear-gradient(98.99deg, #141E30 39.07%, #243B55 90.1%);
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 75%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 100%, 100% 75%, 100% 0%);
  padding-bottom: 350px;
}
.header__red-slice {
  position: absolute;
  background-color: #E1214A;
  width: 100%;
  padding-top: 20px;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 75%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 100%, 100% 75%, 100% 0%);
  padding-bottom: 350px;
}
.header__content {
  padding: 40px 15px;
}
.header__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__main {
  padding-top: 125px;
  display: flex;
  flex-direction: column;
}
.header__illustration {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 3;
  margin: 31em -16em;
}
.header__illustration img {
  max-width: 100%;
  width: auto;
}
@media (max-width: 1500px) {
  .header__illustration {
    margin: 31em -3em;
  }
}
@media (max-width: 1192px) {
  .header__illustration {
    margin: 31em -1em;
  }
  .header__illustration img {
    max-width: 33%;
  }
}
@media (max-width: 991.98px) {
  .header__illustration {
    margin: 38em 0;
    align-items: center;
  }
  .header__illustration img {
    max-width: 42%;
  }
}
@media (max-width: 767.98px) {
  .header__illustration {
    margin: 50em 0;
    align-items: center;
  }
  .header__illustration img {
    max-width: 55%;
  }
}
@media (max-width: 479.98px) {
  .header__illustration {
    margin-top: 55em;
    align-items: center;
  }
  .header__illustration img {
    max-width: 70%;
  }
}
@media (max-width: 358px) {
  .header__illustration {
    margin-top: 70em;
    align-items: center;
  }
  .header__illustration img {
    max-width: 70%;
  }
}

.menu__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu__body {
  width: 50%;
  margin: 0 auto;
  padding: 0;
}
.menu__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  gap: 1.5em;
}
.menu__list li {
  display: inline;
}
.menu__link {
  color: #8794BA;
  font-size: 18px;
}
.menu__link:hover, .menu__link:focus {
  color: #cbd0df;
}

.logo__image {
  width: 43.38px;
  height: 48px;
}
.logo__text {
  color: #fff;
  font-size: 22px;
  line-height: 26px;
  vertical-align: middle;
}

.header-main__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .header-main__logo {
    flex-direction: column;
  }
}
.header-main__image {
  width: 50%;
  max-height: 203px;
  max-width: 497px;
  min-width: 285px;
  height: auto;
}
@media (max-width: 1192px) {
  .header-main__image {
    max-width: 440px;
  }
}
@media (max-width: 991.98px) {
  .header-main__image {
    max-width: 330px;
  }
}
.header-main__title {
  display: inline-block;
}
@media (max-width: 479.98px) {
  .header-main__title {
    text-align: center;
  }
}
.header-main__description {
  padding-top: 50px;
}
@media (max-width: 767.98px) {
  .header-main__description {
    text-align: center;
  }
}
@media (max-width: 1192px) {
  .header-main h1 {
    font-size: 58px;
  }
  .header-main h3 {
    font-size: 24px;
  }
}
@media (max-width: 991.98px) {
  .header-main h1 {
    font-size: 45px;
  }
  .header-main h3 {
    font-size: 20px;
  }
}
@media (max-width: 479.98px) {
  .header-main h1 {
    font-size: 38px;
  }
  .header-main h3 {
    font-size: 18px;
  }
}

.section-title {
  text-align: center;
  padding-bottom: 70px;
}

.text {
  font-size: 20px;
  line-height: 23px;
  color: #000;
}
.text_white {
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 1192px) {
  .text {
    font-size: 18px;
    line-height: 20px;
  }
  .text_white {
    font-size: 16px;
    line-height: 16px;
  }
}
@media (max-width: 991.98px) {
  .text {
    font-size: 20px;
    line-height: 23px;
  }
  .text_white {
    font-size: 17px;
    line-height: 17px;
  }
}
@media (max-width: 767.98px) {
  .text {
    font-size: 18px;
    line-height: 20px;
  }
  .text_white {
    font-size: 16px;
    line-height: 16px;
  }
}
@media (max-width: 479.98px) {
  .text_white {
    font-size: 14px;
    line-height: 14px;
  }
}

.projects__body {
  padding-bottom: 80px;
}
.projects__list {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
@media (max-width: 991.98px) {
  .projects__list {
    gap: 110px;
  }
}
.projects__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991.98px) {
  .projects__card {
    flex-direction: column;
    justify-content: center;
    gap: 35px;
  }
}
.projects__text {
  flex: 1 1 auto;
  max-width: 585px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
@media (max-width: 1192px) {
  .projects__text {
    max-width: 450px;
  }
}
.projects__name {
  text-align: center;
}
@media (max-width: 1192px) {
  .projects__name h2 {
    font-size: 32px;
  }
}
@media (max-width: 991.98px) {
  .projects__name h2 {
    font-size: 34px;
  }
}
@media (max-width: 767.98px) {
  .projects__name h2 {
    font-size: 28px;
  }
}
.projects__image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects__image img {
  width: 100%;
}
.projects__image_reverted {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects__image_reverted img {
  width: 98%;
}
@media (max-width: 991.98px) {
  .projects__image_reverted {
    order: 1;
  }
}
@media (max-width: 1192px) {
  .projects img {
    width: 85%;
  }
}

.partners__content {
  display: flex;
  flex-direction: column;
  background-color: #E5ECF4;
  padding: 0 20px;
  padding-bottom: 80px;
}
.partners__title {
  padding-top: 55px;
  padding-bottom: 30px;
}
.partners__image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.partners__image img {
  width: 100%;
}

.masters__title {
  padding-top: 90px;
}
.masters__body {
  padding-bottom: 80px;
}
.masters__list {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
@media (max-width: 991.98px) {
  .masters__list {
    gap: 120px;
  }
}
.masters__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;
}
@media (max-width: 991.98px) {
  .masters__card {
    flex-direction: column;
  }
}
.masters__description-background {
  display: flex;
  background-color: #E1214A;
  box-shadow: 5px 7px 35px 9px rgba(47, 60, 79, 0.4);
  border-radius: 30px;
}
@media (min-width: 991.98px) {
  .masters__description-background {
    height: 583px;
  }
}
@media (max-width: 991.98px) {
  .masters__description-background {
    width: 592px;
  }
}
@media (max-width: 767.98px) {
  .masters__description-background {
    width: auto;
  }
}
.masters__description-body {
  padding: 0 30px;
  padding-top: 35%;
  text-align: center;
}
@media (max-width: 991.98px) {
  .masters__description-body {
    padding: 30px;
  }
}
.masters__description-name {
  padding-bottom: 30px;
}
.masters__description-name p {
  font-size: 34px;
  line-height: 40px;
  text-transform: uppercase;
}
@media (max-width: 479.98px) {
  .masters__description-name p {
    font-size: 24px;
    line-height: 28px;
  }
}
.masters__description-name_common {
  font-weight: 700;
  color: #000;
}
.masters__description-name_accent {
  font-weight: 800;
  color: #fff;
}
.masters__description-name::after {
  display: block;
  width: 150px;
  height: 0;
  margin: 0 auto;
  content: "";
  margin-top: 20px;
  border-top: 5px solid #ED99AB;
}
.masters__photo img {
  border-radius: 30px;
  box-shadow: 5px 7px 35px 9px rgba(47, 60, 79, 0.4);
}
@media (max-width: 991.98px) {
  .masters__photo_reverted {
    order: 1;
  }
}
@media (max-width: 767.98px) {
  .masters__photo {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .masters__photo img {
    width: 100%;
  }
}

.location__content {
  padding: 90px 0;
}
.location__title {
  padding: 0 10px;
}/*# sourceMappingURL=styles.css.map */