// Подключение шрифтов
@import 'fonts';

// очистка стандартных стилей
@import 'reset';

// Переменные
$minWidth: 320px;
$maxWidth: 1600;
$maxWidthContainer: 1180;
$md1: $maxWidthContainer + 12px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;


// Базовые элементы -----------------------------------------------------
body {
    color: #000;
    font-size: 14px;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

._container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;

    @media (max-width: $md1) {
        max-width: 970px;
    }

    @media (max-width: $md2) {
        max-width: 750px;
    }

    @media (max-width: $md3) {
        max-width: none;
        padding: 0 10px;
    }
}

h1 {
    font-weight: 700;
    font-size: 68px;
    line-height: 80px;
}

h2 {
    color: #243B55;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

h3 {
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
}


// Хэдер ----------------------------------------------------------------------
.header {
    position: relative;
    display: flex;
    width: 100%;
    padding-bottom: 1000px;

    @media (max-width: $md3) {
        padding-bottom: 1180px;
    }

    @media (max-width: $md4) {
        padding-bottom: 1240px;
    }

    @media (max-width: 345px) {
        padding-bottom: 1370px;
    }

    h1,
    h2,
    h3 {
        color: #fff;
    }

    // .header__content

    &__background {
        position: absolute;
        width: 100%;
        z-index: 2;
        background: linear-gradient(98.99deg, #141E30 39.07%, #243B55 90.1%);
        clip-path: polygon(0% 0%, 0% 100%, 100% 75%, 100% 0%);
        padding-bottom: 350px;
    }

    &__red-slice {
        position: absolute;
        background-color: #E1214A;
        width: 100%;
        padding-top: 20px;
        clip-path: polygon(0% 0%, 0% 100%, 100% 75%, 100% 0%);
        padding-bottom: 350px;
    }

    &__content {
        padding: 40px 15px;
    }

    // .header__menu

    &__menu {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__main {
        padding-top: 125px;
        display: flex;
        flex-direction: column;
    }

    &__illustration {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 3;
        margin: 31em -16em;

        img {
            max-width: 100%;
            width: auto;
        }

        @media (max-width: 1500px) {
            margin: 31em -3em;
        }

        @media (max-width: $md1) {
            margin: 31em -1em;

            img {
                max-width: 33%;
            }
        }

        @media (max-width: $md2) {
            margin: 38em 0;
            align-items: center;

            img {
                max-width: 42%;
            }
        }

        @media (max-width: $md3) {
            margin: 50em 0;
            align-items: center;

            img {
                max-width: 55%;
            }
        }

        @media (max-width: $md4) {
            margin-top: 55em;
            align-items: center;

            img {
                max-width: 70%;
            }
        }

        @media (max-width: 358px) {
            margin-top: 70em;
            align-items: center;

            img {
                max-width: 70%;
            }
        }
    }
}

.menu {

    // .menu__logo

    &__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    // .menu__body

    &__body {
        width: 50%;
        margin: 0 auto;
        padding: 0;
    }

    // .menu__list

    &__list {
        li {
            display: inline;
        }

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        gap: 1.5em;
    }

    // .menu__link

    &__link {
        color: #8794BA;
        font-size: 18px;

        &:hover,
        &:focus {
            color: #cbd0df;
        }
    }
}

.logo {

    // .logo__image

    &__image {
        width: 43.38px;
        height: 48px;
    }

    // .logo__text

    &__text {
        color: #fff;
        font-size: 22px;
        line-height: 26px;
        vertical-align: middle;
    }
}

.header-main {

    // .header-main__logo

    &__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        @media (max-width: $md3) {
            flex-direction: column;
        }
    }

    // .header-main__image

    &__image {
        width: 50%;
        max-height: 203px;
        max-width: 497px;
        min-width: 285px;
        height: auto;

        @media (max-width: $md1) {
            max-width: 440px;
        }

        @media (max-width: $md2) {
            max-width: 330px;
        }
    }

    // .header-main__title

    &__title {
        display: inline-block;

        @media (max-width: $md4) {
            text-align: center;
        }
    }

    // .header-main__description

    &__description {
        padding-top: 50px;

        @media (max-width: $md3) {
            text-align: center;
        }
    }

    @media (max-width: $md1) {
        h1 {
            font-size: 58px;
        }

        h3 {
            font-size: 24px;
        }
    }

    @media (max-width: $md2) {
        h1 {
            font-size: 45px;
        }

        h3 {
            font-size: 20px;
        }
    }

    @media (max-width: $md4) {
        h1 {
            font-size: 38px;
        }

        h3 {
            font-size: 18px;
        }
    }
}

// Main block ---------------------------------------------------------------------

.section-title {
    text-align: center;
    padding-bottom: 70px;
}

.text {
    font-size: 20px;
    line-height: 23px;
    color: #000;

    &_white {
        font-size: 17px;
        line-height: 17px;
        font-weight: 700;
        color: #fff;
    }

    @media (max-width: $md1) {
        font-size: 18px;
        line-height: 20px;

        &_white {
            font-size: 16px;
            line-height: 16px;
        }
    }

    @media (max-width: $md2) {
        font-size: 20px;
        line-height: 23px;

        &_white {
            font-size: 17px;
            line-height: 17px;
        }
    }

    @media (max-width: $md3) {
        font-size: 18px;
        line-height: 20px;

        &_white {
            font-size: 16px;
            line-height: 16px;
        }
    }

    @media (max-width: $md4) {
        &_white {
            font-size: 14px;
            line-height: 14px;
        }
    }
}

.main {}

// Проекты ---------------------------------------------------------------------

.projects {

    // .projects__content

    &__content {}

    // .projects__title

    &__title {}

    // .projects__body

    &__body {
        padding-bottom: 80px;
    }

    // .projects__list

    &__list {
        display: flex;
        flex-direction: column;
        gap: 70px;

        @media (max-width: $md2) {
            gap: 110px;
        }
    }

    // .projects__card

    &__card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        @media (max-width: $md2) {
            flex-direction: column;
            justify-content: center;
            gap: 35px;
        }
    }

    &__text {
        flex: 1 1 auto;
        max-width: 585px;
        display: flex;
        flex-direction: column;
        gap: 28px;

        @media (max-width: $md1) {
            max-width: 450px;
        }
    }

    // .projects__name

    &__name {
        text-align: center;

        @media (max-width: $md1) {
            h2 {
                font-size: 32px;
            }
        }

        @media (max-width: $md2) {
            h2 {
                font-size: 34px;
            }
        }

        @media (max-width: $md3) {
            h2 {
                font-size: 28px;
            }
        }
    }

    // .projects__description

    &__description {}

    // .projects__image

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
        }
    }

    &__image_reverted {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 98%;
        }

        @media (max-width: $md2) {
            order: 1;
        }
    }

    @media (max-width: $md1) {
        img {
            width: 85%;
        }
    }
}

// Партнёры ---------------------------------------------------------------------

.partners {

    // .partners__content

    &__content {
        display: flex;
        flex-direction: column;
        background-color: #E5ECF4;
        padding: 0 20px;
        padding-bottom: 80px;
    }

    // .partners__title

    &__title {
        padding-top: 55px;
        padding-bottom: 30px;
    }

    // .partners__image

    &__image {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
        }
    }
}

// Специалисты -------------------------------------------------------------------
.masters {

    // .masters__content

    &__content {}

    // .masters__title

    &__title {
        padding-top: 90px;
    }

    // .masters__body

    &__body {
        padding-bottom: 80px;
    }

    // .masters__list

    &__list {
        display: flex;
        flex-direction: column;
        gap: 70px;

        @media (max-width: $md2) {
            gap: 120px;
        }
    }

    // .masters__card

    &__card {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 36px;

        @media (max-width: $md2) {
            flex-direction: column;
        }
    }

    // .masters__description-background

    &__description-background {
        display: flex;
        background-color: #E1214A;
        box-shadow: 5px 7px 35px 9px rgba(47, 60, 79, 0.4);
        border-radius: 30px;

        @media (min-width: $md2) {
            height: 583px;
        }

        @media (max-width: $md2) {
            width: 592px;
        }

        @media (max-width: $md3) {
            width: auto;
        }
    }

    // .masters__description-body

    &__description-body {
        padding: 0 30px;
        padding-top: 35%;
        text-align: center;

        @media (max-width: $md2) {
            padding: 30px;
        }
    }

    // .masters__description-name

    &__description-name {

        padding-bottom: 30px;

        p {
            font-size: 34px;
            line-height: 40px;
            text-transform: uppercase;

            @media (max-width: $md4) {
                font-size: 24px;
                line-height: 28px;
            }
        }

        // .masters__description-name_accent

        &_common {
            font-weight: 700;
            color: #000;
        }

        &_accent {
            font-weight: 800;
            color: #fff;
        }
    }

    // .masters__description-text

    &__description-text {}

    // .masters__photo

    &__photo {
        img {
            border-radius: 30px;
            box-shadow: 5px 7px 35px 9px rgba(47, 60, 79, 0.4);
        }

        &_reverted {
            @media (max-width: $md2) {
                order: 1;
            }
        }

        @media (max-width: $md3) {
            display: flex;
            width: 100%;
            justify-content: center;

            img {
                width: 100%;
            }
        }
    }
}